* {
    box-sizing: border-box;
}
h1, h2, h3, ul, li, a, p {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    display: block;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: #131212;
}
.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}
.header {
    padding-top: 6px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 19px 0 22px;
    position: relative;
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.header__nav-item:not(:last-child) {
    margin-right: 25px;
}
.header__nav-link {
    font-size: 13px;
    color: #131212;
    
    transition: .3s ease;
}
.header__nav-link:hover {
    color: #7A7272;
}
.header__nav-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -67px;
    margin-top: -28px;
}

.mainScreen {
    background-color: #CDCFCF;
}
.mainScreen__wrapper {
    max-width: 940px;
    width: 100%;
    padding: 51px 0 33px;
    position: relative;
}
.mainScreen__text-descr {
    max-width: 503px;
    width: 100%;
    margin-top: 10px;
}
.mainScreen__products {
    margin-top: 70px;
    display: flex;
}
.mainScreen__products-item {
    color: #131212;
    font-weight: 600;
    font-size: 15px;
}
.mainScreen__products-item:not(:last-child) {
    margin-right: 37px;
}
.products-item__price {
    margin-top: 4px;
}
.mainScreen__pic-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 358px;
    height: 535px;
}